<app-header></app-header>
<div class="container mt-5">



  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">The Ritz-Carlton Almaty opens in a new window</h1>
      <img src="https://cf.bstatic.com/images/hotel/max1024x768/205/205253952.jpg" style="height: 70%; width: 70%">
      <p class="lead my-3">This luxurious 5-star hotel is located in Almaty, at the foot of the Alatau Mountains. It features a spa, indoor pool and fitness center. The Ritz-Carlton, Almaty offers free Wi-Fi.</p>
      <p class="lead mb-0"><a href="JavaScript:void(0)" class="text-white font-weight-bold">Book now...</a></p>
    </div>

  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Almaty</strong>
          <h3 class="mb-0">Hotels</h3>
          <div class="mb-1 text-muted"><a class="navbar-brand" routerLink="">
            <span class="badge badge-secondary">Booking.com</span>
          </a></div>
          <p class="card-text mb-auto">Al-Farabi Avenue 77/7, 050040 Almaty, Kazakhstan</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"></svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Shymkent</strong>
          <h3 class="mb-0">Hotels</h3>
          <div class="mb-1 text-muted"><a href="https://www.booking.com/index.ru.html?label=gen173nr-1BCAEoggI46AdIM1gEaIABiAEBmAEhuAEXyAEM2AEB6AEBiAIBqAIDuALfppj8BcACAdICJDFiNmM2YjkyLTU1MGItNDMzZC04MjgwLWU1MTFhOTFlOWIxOdgCBeACAQ;sid=c7d5a77fc2ac9175f0d96fec2e914c58;keep_landing=1&sb_price_type=total&"><span class="badge badge-secondary">Booking.com</span></a> / Last booked 4 hours ago </div>

          <p class="mb-auto">Rixos Khadisha Shymkent is located in the business district of Shymkent. It offers a spacious spa with a sauna, Turkish hammam and snow room, as well as an indoor pool and fitness room.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"></svg>
        </div>
      </div>
    </div>
  </div>
</div>
